<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config.Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <mappers>
        <mapper class="com.game.login.mappers.ServerListMapper"></mapper>
        <mapper class="com.game.login.mappers.ServerNoticeMapper"></mapper>
        <mapper class="com.game.login.mappers.PlayerInfoMapper"></mapper>
    </mappers>
</configuration>