gate/WebRoot/WEB-INF/classes/
login/WebRoot/WEB-INF/classes/
db/WebRoot/WEB-INF/classes/

login/jarPack/login.jar
gate/jarPack/gate.jar
login_server/WebRoot/WEB-INF/classes/
gate_server/WebRoot/WEB-INF/classes/
login_server/package/login_server.jar
game_server/WebRoot/WEB-INF/classes/
game_server/jarPack/game_server.jar
gate_server/jarPack/gate_server.jar
out/
log/
client_error/
